.App {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.board {
  height: 100%;
  position: relative;
  width: 100%;
}

.speed-input {
  bottom: 50px;
  left: 50px;
  position: absolute;
}
.speed-input label {
  font-size: 20px;
  margin-right: 10px;
}
.speed-input input {
  font-size: 20px;
  padding: 8px 10px;
}

.box {
  border: 2px solid black;
  height: 50px;
  position: absolute;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transform-origin: center;
  width: 50px;
}